// Our clients
.clients {
  .section-title {
    font-size: 28px;
    line-height: calc(33 / 28);
  }
}
.clients-list {
  @extend %list;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;

  &__link {
    display: flex;
    padding: 15px 51px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    fill: var(--social-icon-color);
    border: 1px solid var(--social-icon-color);
    border-radius: 4px;
    transition: fill var(--duration-and-cubic-bezier), border var(--duration-and-cubic-bezier);
  }

  &__link:hover,
  &__link:focus {
    fill: var(--accent-text-color);
    border: 1px solid var(--accent-border-color);
  }
}
