// Our clients
.clients {
  .section-title {
    font-size: 28px;
    line-height: calc(33 / 28);
  }
}
.clients-list {
  @extend %list;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;

  &__item {
    @include breakpoint-max(767px) {
      width: calc((100% - 30px) / 2);
    }
  }

  &__link {
    display: flex;
    padding: 15px 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    fill: var(--social-icon-color);
    border: 1px solid var(--social-icon-color);
    border-radius: 4px;
    transition: fill var(--duration-and-cubic-bezier), border var(--duration-and-cubic-bezier);

    @include breakpoint-min($tablet) {
      padding: 15px 59px;
    }
    @include breakpoint-min($desktop) {
      padding: 15px 31px;
    }
  }

  &__link:hover,
  &__link:focus {
    fill: var(--accent-text-color);
    border: 1px solid var(--accent-border-color);
  }
}
