// Footer
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-footer-color);

  &__wrapper {
    margin-bottom: 60px;

    @include breakpoint-min($tablet) {
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
      justify-content: space-between;
      margin-bottom: 60px;
      padding-left: 76px;
      padding-right: 89px;
    }

    @include breakpoint-min($desktop) {
      margin-bottom: 0;
      padding-left: 0;
      padding-right: 0;
      gap: 70px;
    }
  }

  &__address-box {
    margin-bottom: 60px;

    @include breakpoint-min($tablet) {
      margin-bottom: 0;
      justify-content: space-between;
    }
  }

  &__subscribe-box {
    @include breakpoint-min($tablet) {
      max-width: 450px;
      margin-right: auto;
      margin-left: auto;
    }
  }
  &__container {
    @include breakpoint-min($desktop) {
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
      justify-content: space-between;
    }
  }

  &__logo {
    color: var(--white-text-color);
    margin-bottom: 20px;
    text-align: center;

    @include breakpoint-min($desktop) {
      text-align: start;
      padding: 0;
    }
  }

  &__text-title {
    margin-top: 0;
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: calc(16 / 14);
    text-align: center;
    text-transform: uppercase;
    color: var(--white-text-color);

    @include breakpoint-min($desktop) {
      text-align: start;
    }
  }
}
