// Services
.services-list {
  @extend %list;
  display: flex;
  justify-content: space-between;
}

.services-card {
  position: relative;

  &__img {
    display: block;
  }

  &__title {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 27px 0;
    min-height: 70px;
    line-height: calc(14 / 16);
    text-align: center;
    text-transform: uppercase;
    color: var(--white-text-color);
    background: var(--about-bg-color);
  }
}
