// Team
.team {
  background: var(--secondary-bg-color);

  .section-title {
    font-size: 28px;
    line-height: calc(33 / 28);
  }
}
.team-card-set {
  @extend %list;

  @include breakpoint-min($tablet) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.employee-card {
  text-align: center;
  padding-bottom: 24px;
  background: var(--main-bg-color);

  box-shadow: 0px 1px 3px var(--box-shadow-color-a12), 0px 1px 1px var(--box-shadow-color-a14),
    0px 2px 1px var(--box-shadow-color-a20);
  border-radius: 0px 0px 4px 4px;

  &__img {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 10px;
    padding-top: 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    color: var(--title-text-color);
  }

  &__position {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 16px;
    font-size: 16px;
    line-height: calc(19 / 16);
  }

  &--margin-bottom {
    margin-bottom: 30px;
  }

  @include breakpoint-min($tablet) {
    margin-bottom: 0;
    width: 354px;
  }

  @include breakpoint-min($desktop) {
    width: 270px;
    padding-bottom: 30px;
  }
}
