// Adress
.adress {
  font-style: inherit;
  &__list {
    @extend %list;
  }

  &__item:not(:last-child) {
    margin-bottom: 9px;
  }

  &__link {
    line-height: calc(24 / 14);
    color: var(--secondary-text-color-a60);
    text-decoration: none;
    transition: color var(--duration-and-cubic-bezier);
  }

  &__link--white-color {
    color: var(--white-text-color);
  }

  &__link--hover-focus:hover,
  &__link--hover-focus:focus {
    color: var(--accent-text-color);
  }
}
