// Header contact
.contact {
  @extend %list;

  &--margin-bottom {
    margin-bottom: 64px;

    @include breakpoint-min($tablet) {
      margin-bottom: 0;
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 32px;
    @include breakpoint-min($tablet) {
      margin-bottom: 0;
    }
  }

  &__link {
    width: 100%;
    font-weight: 500;
    font-size: 24px;
    line-height: calc(24 / 28);
    letter-spacing: 0.02em;
    color: currentColor;
    text-decoration: none;
    transition: color var(--duration-and-cubic-bezier);

    @include breakpoint-min($tablet) {
      font-size: 12px;
      line-height: calc(12 / 14);
      color: var(--primary-text-color);
      text-decoration: none;
      display: flex;
      gap: 8px;
      align-items: center;
    }

    @include breakpoint-min($desktop) {
      padding-top: 32px;
      padding-bottom: 32px;
      font-size: 14px;
      line-height: calc(16 / 14);
    }

    &--color-accent {
      font-weight: 500;
      font-size: 34px;
      line-height: calc(40 / 34);
      color: var(--accent-text-color);

      @include breakpoint-max(380px) {
        font-size: 26px;
      }

      @include breakpoint-min($tablet) {
        font-size: 12px;
        line-height: calc(12 / 14);
        color: var(--primary-text-color);
        text-decoration: none;
      }

      @include breakpoint-min($desktop) {
        font-size: 14px;
        line-height: calc(16 / 14);
      }
    }
  }

  &__link:hover,
  &__link:focus {
    color: var(--accent-text-color);
  }

  &__icon {
    display: none;
    fill: currentColor;
    @include breakpoint-min($tablet) {
      display: block;
    }
  }

  @include breakpoint-min($tablet) {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    gap: 10px;
  }

  @include breakpoint-min($desktop) {
    flex-direction: row-reverse;
    gap: 30px;
  }
}
