.menu-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 48px 40px;
  background-color: var(--main-bg-color);
  z-index: 100;

  &.is-open {
    display: flex;
    flex-direction: column;
    outline: 1px solid red;
    overflow-y: scroll;
  }

  &__close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    border: 0;
    background: none;
    cursor: pointer;

    &:hover,
    &:focus {
      fill: var(--accent-text-color);
    }

    @include breakpoint-min($tablet) {
      display: none;
    }
  }

  @include breakpoint-min($tablet) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: static;
    padding: 0;
  }
}

.open-menu-btn {
  border: 0;
  background: none;
  padding: 0;
  cursor: pointer;

  &:hover,
  &:focus {
    fill: var(--accent-text-color);
  }

  @include breakpoint-min($tablet) {
    display: none;
  }
}
