// Modal

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;

  width: 528px;
  padding: 40px;

  background-color: var(--main-bg-color);
  box-shadow: 0px 1px 3px var(--box-shadow-color-a12), 0px 1px 1px var(--box-shadow-color-a14),
    0px 2px 1px var(--box-shadow-color-a20);
  border-radius: 4px;
  transition: transform var(--duration-and-cubic-bezier), opacity var(--duration-and-cubic-bezier);

  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
  }

  &__close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 0;
    width: 30px;
    height: 30px;
    border: 1px solid var(--modal-border-color);
    background-color: inherit;
    border-radius: 50%;
    cursor: pointer;
    transition: fill var(--duration-and-cubic-bezier);
  }

  &__close-btn:hover,
  &__close-btn:focus {
    fill: var(--accent-text-color);
  }
}
