// Site nav
.nav {
  &--margin-bottom {
    margin-bottom: auto;
  }
  // display: block;
  // align-items: center;
  // gap: 93px;

  &__list {
    @extend %list;

    @include breakpoint-min($tablet) {
      display: flex;
      gap: 50px;
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 32px;
    @include breakpoint-min($tablet) {
      margin-bottom: 0;
    }
  }

  &__link {
    font-weight: 500;
    font-size: 40px;
    line-height: calc(40 / 47);
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    text-decoration: none;
    transition: color var(--duration-and-cubic-bezier);

    @include breakpoint-min($tablet) {
      font-weight: 500;
      font-size: 14px;
      line-height: calc(16 / 14);

      display: block;
      width: 100%;
      padding-top: 32px;
      padding-bottom: 32px;
    }
  }

  &__link:hover,
  &__link:focus {
    color: var(--accent-text-color);
  }

  &__link--current {
    position: relative;
    color: var(--accent-text-color);
  }

  &__link--current::after {
    @include breakpoint-min($tablet) {
      position: absolute;
      left: 0;
      bottom: -1px;
      display: block;
      content: '';
      background-color: var(--accent-text-color);
      border-radius: 2px;
      width: 100%;
      height: 4px;
    }
  }
}
