// Social networks

.social-networks {
  @extend %list;
  display: flex;
  gap: 10px;
  justify-content: center;

  &--margin-bottom {
    margin-bottom: 30px;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 44px;
    min-height: 44px;
    border-radius: 50%;
    text-decoration: none;
    fill: var(--social-icon-color);
    transition: fill var(--duration-and-cubic-bezier),
      background-color var(--duration-and-cubic-bezier);
  }

  &__link--white {
    fill: var(--white-icon-color);
    background-color: var(--icon-bg-color);
  }

  &__link:hover,
  &__link:focus {
    fill: var(--white-icon-color);
    background-color: var(--accent-bg-color);
  }
}
