// Portfolio page

.btn-list {
  @extend %list;
  display: flex;
  flex-wrap: wrap;
  gap: 15px 8px;

  &--margin-bottom {
    margin-bottom: 40px;
  }

  @include breakpoint-min($tablet) {
    justify-content: center;
    margin-bottom: 30px;
  }
}

// Button
.button {
  display: inline-block;
  border-radius: 4px;
  border: 0;
  padding: 6px 25px;

  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--secondary-bg-color);
  box-shadow: 0px 1px 1px transparent, 0px 4px 4px transparent, 1px 4px 6px transparent;
  cursor: pointer;

  transition: color var(--duration-and-cubic-bezier),
    background-color var(--duration-and-cubic-bezier), box-shadow var(--duration-and-cubic-bezier);

  &--current {
    background-color: var(--accent-bg-color);
    color: var(--white-text-color);
  }

  &:hover,
  &:focus {
    color: var(--white-text-color);
    background-color: var(--accent-bg-color);
    box-shadow: 0px 1px 1px var(--box-shadow-color-a12), 0px 4px 4px var(--box-shadow-color-a06),
      1px 4px 6px var(--box-shadow-color-a16);
  }
}

// Portfolio set

.portfolio {
  @extend %list;

  @include breakpoint-min($tablet) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 30px;
      @include breakpoint-min($tablet) {
        margin-bottom: 0;
      }
    }
    @include breakpoint-min($tablet) {
      max-width: 354px;
    }
  }

  &__link {
    display: block;
    color: currentColor;
    text-decoration: none;
    box-shadow: 0px 1px 1px transparent, 0px 4px 4px transparent, 1px 4px 6px transparent;

    transition: box-shadow var(--duration-and-cubic-bezier);
  }

  &__link:hover,
  &__link:focus {
    box-shadow: 0px 1px 1px var(--box-shadow-color-a12), 0px 4px 4px var(--box-shadow-color-a06),
      1px 4px 6px var(--box-shadow-color-a16);
  }

  &__overlay-box {
    position: relative;
    overflow: hidden;
  }

  &__img {
    width: 100%;
    display: block;
  }

  &__overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    overflow: scroll;
    margin: 0;
    padding: 63px 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: calc(28 / 18);
    color: var(--white-text-color);
    background-color: var(--overlay-bg-color);

    transform: translateY(100%);
    transition: transform var(--duration-and-cubic-bezier);
  }

  &__link:hover &__overlay-text,
  &__link:hover &__overlay-text {
    transform: translateY(0);
  }

  &__meta {
    padding: 20px 24px;

    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      height: 146px;
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 4px;

    font-size: 18px;
    line-height: calc(36 / 18);
    letter-spacing: 0.06em;
    color: var(--title-text-color);
  }

  &__text {
    margin-top: 0;
    margin-bottom: 0;

    font-size: 16px;
    line-height: calc(30 / 16);
  }
}
